<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NodeJS Authentication</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <!-- header -->
    <%-include('_header')-%>

    <!-- body -->
    <%- body %>

    <!-- footer -->
    <%-include('_footer')-%>
    <script>
      <% if(flash.success && flash.success.length >0){ %>
          new Noty({
              theme: 'relax',
              text: "<%= flash.success %>",
              type: 'success',
              layout: 'topRight',
              timeout: 1000
          }).show();
      <% } %>

      <% if(flash.error && flash.error.length >0){ %>
          new Noty({
              theme: 'relax',
              text: "<%= flash.error %>",
              type: 'error',
              layout: 'topRight',
              timeout: 1000
          }).show();
      <% } %>
    </script>
  </body>
</html>
