<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NodeJS Authentication</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />

    <!-- <script src="https://www.google.com/recaptcha/api.js"></script> -->
  </head>
  <body>
    <!-- header -->
    <%-include('_header')-%>

    <!-- body -->
    <%- body %>

    <!-- footer -->
    <%-include('_footer')-%>

    <!--  recaptcha -->

    <!-- <script>
      document.onload = () => console.log("hello");
      console.log("hello");
      document
        .getElementById("sign_in_form")
        .addEventListener("submit", (e) => {
          e.preventDefault();
          console.log("clicked");
          const email = document.getElementById("email").value;
          const password = document.getElementById("password").value;
          const captcha = document.querySelector("#g-recaptcha-response").value;
          const captchahello = document.querySelector("#g-recaptcha").value
            .value;

          await fetch("/captcha", {
            method: "POST",
            headers: { "Content-type": "application/json" },
            body: JSON.stringify({
              name: name,
              email: email,
              captcha: captcha,
            }),
          }).then(() => console.log("create-session called from js"));

          console.log("session called");
        });
    </script> -->

    <script>
      <% if(flash.success && flash.success.length >0){ %>
          new Noty({
              theme: 'relax',
              text: "<%= flash.success %>",
              type: 'success',
              layout: 'topRight',
              timeout: 1000
          }).show();
      <% } %>

      <% if(flash.error && flash.error.length >0){ %>
          new Noty({
              theme: 'relax',
              text: "<%= flash.error %>",
              type: 'error',
              layout: 'topRight',
              timeout: 1000
          }).show();
      <% } %>
    </script>
  </body>
</html>
